body {
    font-family: 'Arsenal', sans-serif;
    background: mintcream;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    font-size: 16px;
}

table {
    border: 1px solid #000;
}

.collapsible-body {
    max-height: 400px;
    overflow: auto;
}

.help,
footer.nav {
    position: absolute;
    bottom: 0;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.info {
    text-align: center;
}